@model Highlander.Web.Models.ArtefactsCreateViewModel
@{
    ViewData["Title"] = "Log Artefact";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Artefact.Description" class="control-label"></label>
                <input asp-for="@Model.Artefact.Description" class="form-control" />
                <span asp-validation-for="@Model.Artefact.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image" class="control-label">Image</label>
                <input type="file" name="Image" class="form-control"/>
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            @if (!User.IsInRole("Donor"))
            {
                <div class="form-group">
                    <label asp-for="@Model.Artefact.AccessionNumber" class="control-label">Accession Number</label>
                    <input asp-for="@Model.Artefact.AccessionNumber" class="form-control" />
                    <span asp-validation-for="@Model.Artefact.AccessionNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Artefact.AdlibReference" class="control-label">Adlib Reference</label>
                    <input asp-for="@Model.Artefact.AdlibReference" class="form-control" />
                    <span asp-validation-for="@Model.Artefact.AdlibReference" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.DonorId">Donor</label>
                    <select asp-for="@Model.DonorId" asp-items="@Model.Donors" class="form-control"></select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

