@model RegisterAccountViewModel
@{
    ViewBag.Title = "Register";
}
<h1>Register</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="TitleId">Title</label>
        <select asp-for="TitleId" asp-items="@Model.Titles" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="DecorationId">Decoration</label>
        <select asp-for="DecorationId" asp-items="@Model.Decorations" class="form-control"></select>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label asp-for="@Model.Forename"></label>
            <input asp-for="@Model.Forename" class="form-control" />
            <span asp-validation-for="@Model.Forename"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="@Model.Initial"></label>
            <input asp-for="@Model.Initial" class="form-control" />
            <span asp-validation-for="@Model.Initial"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="@Model.Surname"></label>
            <input asp-for="@Model.Surname" class="form-control" />
            <span asp-validation-for="@Model.Surname"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.PhoneNumber">Phone Number</label>
        <input asp-for="@Model.PhoneNumber" class="form-control" />
        <span asp-validation-for="@Model.PhoneNumber"></span>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label asp-for="@Model.AddressLine1">Address Line 1</label>
            <input asp-for="@Model.AddressLine1" class="form-control" />
            <span asp-validation-for="@Model.AddressLine1"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="@Model.AddressLine2">Address Line 2</label>
            <input asp-for="@Model.AddressLine2" class="form-control" />
            <span asp-validation-for="@Model.AddressLine2"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="@Model.AddressLine3">Address Line 3</label>
            <input asp-for="@Model.AddressLine3" class="form-control" />
            <span asp-validation-for="@Model.AddressLine3"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.County"></label>
        <input asp-for="@Model.County" class="form-control" />
        <span asp-validation-for="@Model.County"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Country"></label>
        <input asp-for="@Model.Country" class="form-control" />
        <span asp-validation-for="@Model.Country"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Postcode"></label>
        <input asp-for="@Model.Postcode" class="form-control" />
        <span asp-validation-for="@Model.Postcode"></span>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email"></span>
        </div>

        <div class="form-group col-sm-6">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control" />
            <span asp-validation-for="@Model.Password"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="checkbox" asp-for="@Model.IsNewsletterSubscriber" />
        <label class="form-check-label" asp-for="@Model.IsNewsletterSubscriber">Recieve our newsletter</label>
    </div>

    <div class="mt-2">
        <p>Already have an account? <a asp-action="Login" asp-controller="Account">Login</a>.</p>
    </div>

    <div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>

</form>