@model StaffViewModel
@{
    ViewBag.Title = "Staff Details";
    ViewBag.Code = "S";
}

<h2>Manage your account</h2>
<h4>Change your account settings</h4>
<hr />

<div class="row">
    <div class="col-md-3">
        <partial name="_AccountPills" />
    </div>
    <div class="col-md-9">
        <form method="post" asp-controller="Account" asp-action="UpdateStaff">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="@Model.User.Id" />

            <dl>
                <dt>Start Date</dt>
                <dd>@Model.StartDate.ToShortDateString()</dd>
            </dl>

            <!-- abstract to _partial? or just fix db design. -->
            <h5 class="mb-3">Emergency Contact</h5>
            <div class="form-group">
                <label asp-for="@Model.EmergencyContact.Name">Full Name</label>
                <input asp-for="@Model.EmergencyContact.Name" class="form-control" />
                <span asp-validation-for="@Model.EmergencyContact.Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EmergencyContact.Relation"></label>
                <input asp-for="@Model.EmergencyContact.Relation" class="form-control" />
                <span asp-validation-for="@Model.EmergencyContact.Relation"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EmergencyContact.TelNo">Phone Number</label>
                <input asp-for="@Model.EmergencyContact.TelNo" class="form-control" />
                <span asp-validation-for="@Model.EmergencyContact.TelNo"></span>
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <h4>Invite user to role</h4>
        <form method="post" asp-controller="Account" asp-action="InviteUserToRole">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserId">User</label>
                <select asp-for="UserId" asp-items="@Model.Users" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoleId">Role</label>
                <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control"></select>
            </div>
            <div>
                <input type="submit" value="Invite User" class="btn btn-warning" />
            </div>
        </form>

        <h4>Remove Staff</h4>
        <form method="post" asp-controller="Account" asp-action="RemoveStaff">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserId">User</label>
                <select asp-for="UserId" asp-items="@Model.Users" class="form-control"></select>
            </div>
            <div>
                <input type="submit" value="Remove Staff" class="btn btn-danger" />
            </div>
        </form>

        <h4>Download user info for mailchimp</h4>
        <a asp-controller="Account" asp-action="CSVMailchimp" class="btn btn-primary">Download Mailchimp Data</a>
    </div>
</div>

