<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(ViewBag.Code == "P" ? "active" : "")" id="profile" href="/Account/Manage">Profile</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.Code == "PN" ? "active" : "")" id="phone-numbers" href="/Account/Manage/PhoneNumbers">Phone Numbers</a></li>
    <li class="nav-item"><a class="nav-link @(ViewBag.Code == "E" ? "active" : "")" id="email" href="/Account/Manage/Emails">Emails</a></li>
    @*<li class="nav-item"><a class="nav-link @(ViewBag.Code == "PA" ? "active" : "")" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a></li>*@
    <li class="nav-item"><a class="nav-link @(ViewBag.Code == "D" ? "active" : "")" id="personal-data" href="/Account/Manage/PersonalData">Personal data</a></li>
</ul>